* {
    padding: 0;
    margin: 0;
}



.title {
    text-align: center;
    padding: 10px;
}

.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.images div {
    margin: 10px;
    flex-basis: 26%;
}
.container{
background-color: gray;
margin: 10px;
padding-bottom: 10px;
}
